<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>My Calendar</title>
</head>
<body>

<h1>My Calendar</h1>
<div class="table_component" role="region" tabindex="0">
<table>
    <caption>
        <p id="loading">Loading...</p>
    </caption>
    <thead>
        <tr>
            <th>Sport</th>
            <th>Competition</th>
            <th>Stage</th>
            <th>Kickoff time</th>
            <th>Team 1</th>
            <th>Score</th>
            <th>Team 2</th>
            <th>Venue</th>
        </tr>
    </thead>
    <tbody id="table_rows">
        
    </tbody>
</table>
</div>

<script src="/js/script.js">
</script>
</body>
</html>